<!-- Elemento invisible para evitar errores de foco al abrir select -->
<button
  id="safe-focus-element"
  style="opacity: 0; width: 0; height: 0; position: absolute; pointer-events: none"
  tabindex="-1"
></button>

<main class="timers-configuration">
  <ion-icon name="close-outline" class="close-Mark" (click)="closeWindow()"></ion-icon>
  <h2 class="timers-title">Configuración de timers</h2>

  <section class="sliders">
    <span class="sliders__title">Activar Timer de Ronda</span>
    <ion-toggle
      class="sliders__checkbox"
      [(ngModel)]="roundTimerEnabled"
      (ionChange)="saveConfigToLocalStorage()"
    ></ion-toggle>

    <span class="sliders__title">Activar Timer de turnos</span>
    <ion-toggle
      class="sliders__checkbox"
      [(ngModel)]="turnTimerEnabled"
      (ionChange)="saveConfigToLocalStorage()"
    ></ion-toggle>

    <span class="sliders__title">Activar contador de partidas</span>
    <ion-toggle
      class="sliders__checkbox"
      [(ngModel)]="threeMatches"
      (ionChange)="saveConfigToLocalStorage()"
    ></ion-toggle>
  </section>

  <section class="timers-time">
    <!-- RONDA -->
    <label class="timers-time__label">Contador de Ronda</label>
    <ion-item class="timers-time__item">
      <ion-label>Horas</ion-label>
      <ion-select
        [(ngModel)]="roundHours"
        (ionFocus)="focusSafeElement()"
        (ionChange)="saveConfigToLocalStorage()"
        interface="popover"
      >
        <ion-select-option *ngFor="let h of hourOptions" [value]="h">{{ h }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="timers-time__item">
      <ion-label>Minutos</ion-label>
      <ion-select
        [(ngModel)]="roundMinutes"
        (ionFocus)="focusSafeElement()"
        (ionChange)="saveConfigToLocalStorage()"
        interface="popover"
      >
        <ion-select-option *ngFor="let m of minuteOptions" [value]="m">{{ m }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="timers-time__item">
      <ion-label>Segundos</ion-label>
      <ion-select
        [(ngModel)]="roundSeconds"
        (ionFocus)="focusSafeElement()"
        (ionChange)="saveConfigToLocalStorage()"
        interface="popover"
      >
        <ion-select-option *ngFor="let s of secondOptions" [value]="s">{{ s }}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- TURNOS -->
    <label class="timers-time__label">Contador de turno</label>
    <ion-item class="timers-time__item">
      <ion-label>Minutos</ion-label>
      <ion-select
        [(ngModel)]="turnMinutes"
        (ionFocus)="focusSafeElement()"
        (ionChange)="saveConfigToLocalStorage()"
        interface="popover"
      >
        <ion-select-option *ngFor="let m of minuteOptions" [value]="m">{{ m }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="timers-time__item">
      <ion-label>Segundos</ion-label>
      <ion-select
        [(ngModel)]="turnSeconds"
        (ionFocus)="focusSafeElement()"
        (ionChange)="saveConfigToLocalStorage()"
        interface="popover"
      >
        <ion-select-option *ngFor="let s of secondOptions" [value]="s">{{ s }}</ion-select-option>
      </ion-select>
    </ion-item>

  </section>
  <section class="timers-btn">
    <ion-button (click)="resetConfiguration()" >Restablecer configuración</ion-button>
  </section>
</main>
