.match-counter{
  list-style: none;
  padding: 0;
  display: flex;
  transition: all 0.3s ease-in-out;
  &__match{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #000000c9;
    margin: 0.15rem;
  }
}

.mark-match{
  background-color:rgba(177, 171, 177, 0.78);
}

.mark-match-img{
  background-color:rgb(166 55 195 / 78%);
}
