<div
  class="counter-container"
  [ngClass]="{ 'chess-timer-active': isChessTimerActive }"
  [ngStyle]="getBackgroundStyle()"
  >
  <section>
    <!-- TODO:verificar el section para ponerle una peliocula negra sobre la imagen  -->

    <!-- TODO: configurar para q sea color o imagen segun la config-->
    <div class="counter-btn-click" (click)="incrementDecrement(-1)">
      <div class="counter-btn" [ngClass]="{ active: isActiveMinus }">-</div>
    </div>

    <section class="counter-section">
      <span
      class="counter-section__number"
      [ngClass]="{
        animate: showAnimation,
        visible: showVisible,
        'chess-active-change-position': isChessTimerActive
      }"
      (animationend)="onAnimationEnd()"
      >
      <span *ngIf="action === 'increment'">+</span>{{ counter }}
    </span>

    <div>
      <label
      class="counter-section__value"
      [ngClass]="{
        'small-font': hp < -99,
        'defeat-color': hp <= 0,
        'life-animation': isLifeAnimationActive
      }"
        (animationend)="onchangeLifeAnimationEnd()"
        >{{ hp }}</label>
        <div
        class="counter-container__turns"
        *ngIf="isTurnsTimerActive || isChessTimerActive"
        >
        <label class="turn-label">Turno</label> <strong>{{ turnsCounter }}</strong>
      </div>
    </div>
  </section>

  <div class="counter-btn-click" (click)="incrementDecrement(1)">
    <div class="counter-btn" [ngClass]="{ active: isActivePlus }">+</div>
  </div>
</section>
</div>
