<div
  class="counter-container"
  [ngClass]="{ 'chess-timer-active': isChessTimerActive }"
  [ngStyle]="getBackgroundStyle()"
  >
    <div class="counter-btn-click" (click)="incrementDecrement(-1)">
      <div class="counter-btn" [ngClass]="{ active: isActiveMinus, 'shadow':BgImg,'shadow-btn':BgImg }">-</div>
    </div>

    <section class="counter-section">
      <span
      class="counter-section__number"
      [ngClass]="{
        animate: showAnimation,
        visible: showVisible,
        'shadow': BgImg,
        'chess-active-change-position': isChessTimerActive
      }"
      (animationend)="onAnimationEnd()"
      >
      <span *ngIf="action === 'increment'">+</span>{{ counter }}
    </span>

    <div>
      <label
      class="counter-section__value"
      [ngClass]="{
        'small-font': hp < -99,
        'defeat-color': hp <= 0,
        'life-animation': isLifeAnimationActive,
        'shadow': BgImg
      }"
        (animationend)="onchangeLifeAnimationEnd()"
        >{{ hp }}</label>
        <div
        class="counter-container__turns"
        *ngIf="isTurnsTimerActive || isChessTimerActive"
        >
        <label class="turn-label" [ngClass]="{'shadow':BgImg }" >Turno</label> <strong class="turn-number" [ngClass]="{'shadow':BgImg }">{{ turnsCounter }}</strong>
      </div>
    </div>
  </section>

  <div class="counter-btn-click" (click)="incrementDecrement(1)">
    <div class="counter-btn" [ngClass]="{ active: isActivePlus, 'shadow':BgImg,'shadow-btn':BgImg}">+</div>
  </div>
</div>
