
.counter-container,
.counter-section,
.counter-container__turns{
  display: flex;
}

.counter-container,
.counter-section{
  align-items: center;
  height: 50vh;
}

.counter-container {
  --background: transparent;
  justify-content: space-around;
  padding: 0 2rem;
  font-size: 6rem;
  font-weight: lighter;
  text-align: center;
  color: rgb(0, 0, 0);
  border: none;

  &__turns{
    flex-direction: column;
    font-size:15px;
    color: aliceblue;
  }
}

.counter-btn {
  font-size: 4rem;
  color: #000;
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent;
}

.counter-btn::part(native) {
  background: transparent;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.small-font{
  font-size: smaller;
}

.defeat-color{
  color: #d0d0d0;
}

.counter-section{
  flex-direction: column;
  position: relative;
  justify-content: center;

  &__number{
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: inline-block;
    position: absolute;
    top: 3rem;
    font-size: xx-large;
  }

}

.animate {
animation: riseAndFade 2s ease forwards;
}

.visible {
  opacity: 1;
}
// ANIMATION

@keyframes riseAndFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-8px);
    opacity: 0;
  }
}
