<button
id="safe-focus-element"
style="opacity: 0; width: 0; height: 0; position: absolute; pointer-events: none"
tabindex="-1"
></button>

<main class="chess-mode-configuration">
  <h2>Modalidades de ajedrez</h2>
  <ion-icon name="close-outline" class="close-Mark" (click)="closeWindow()"></ion-icon>

  <div class="mode">
    <div class="mode-title">Bullet</div>
    <div class="button-group">
      <button class="time-button" (click)="changeChessTimerConfig('00:01:00','00:00',true)">1 | 0</button>
      <button class="time-button" (click)="changeChessTimerConfig('00:02:00','00:01',true)">2 | 1</button>
    </div>
  </div>

  <div class="mode">
    <div class="mode-title">Blitz</div>
    <div class="button-group">
      <button class="time-button"(click)="changeChessTimerConfig('00:03:00','00:00',true)">3 | 0</button>
      <button class="time-button"(click)="changeChessTimerConfig('00:03:00','00:02',true)">3 | 2</button>
      <button class="time-button"(click)="changeChessTimerConfig('00:05:00','00:00',true)">5 | 0</button>
      <button class="time-button"(click)="changeChessTimerConfig('00:05:00','00:03',true)">5 | 3</button>
    </div>
  </div>

  <div class="mode">
    <div class="mode-title">Rapid</div>
    <div class="button-group">
      <button class="time-button" (click)="changeChessTimerConfig('00:10:00','00:00',true)">10 | 0</button>
      <button class="time-button" (click)="changeChessTimerConfig('00:10:00','00:05',true)">10 | 5</button>
      <button class="time-button" (click)="changeChessTimerConfig('00:15:00','00:10',true)">15 | 10</button>
    </div>
  </div>

  <div class="mode">
    <div class="mode-title">Classical</div>
    <div class="button-group">
      <button class="time-button" (click)="changeChessTimerConfig('00:30:00','00:00',true)">30 | 0</button>
      <button class="time-button" (click)="changeChessTimerConfig('00:30:00','00:20',true)">30 | 20</button>
    </div>
  </div>

</main>
