.color-changer {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
}

.palette {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.color-selection {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-list {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  list-style: none;
  margin: 0;
  margin-bottom: 0.6rem;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.color-item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-item.selected {
  border: 2px solid white;
}

.image-upload{
  position: absolute;
  font-size: xxx-large;
  color: #ffffffb5;
  &:active{
    transform: scale(0.9);
  }
}

.right{
  right: 3rem;
}

.left{
  left: 3rem;
}
