.color-changer {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
}

.palette {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.76);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.color-selection {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-list {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  list-style: none;
  margin: 0;
  margin-bottom: 0.6rem;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.color-item {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-item.selected {
  border: 2px solid white;
}

.image-upload{
  position: absolute;
  font-size: xxx-large;
  color: #ffffffb5;
  &:active{
    transform: scale(0.9);
  }
}

.right{
  right: 3rem;
}

.left{
  left: 3rem;
}

.custom-alert {
 position: absolute;
    background: rgb(0 0 0 / 95%);
    border: 1px solid #cccccc61;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    text-align: center;
    width: 16rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 20;

  p {
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #333;
  }

  .btns {
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    button {
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
      border-radius: 5px;
    }
  }
}

.shadow{
  filter: drop-shadow(1px 1px 3px rgb(0, 0, 0.1));
}

.saved-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #cccccc93;
}
