<ion-icon name="color-palette-outline" class="palette" [ngClass]="{'shadow':BgImg}" (click)="openColorSelection()"></ion-icon>

<section class="color-selection" [ngClass]="{ 'right': position, 'left': !position }" *ngIf="isColorSelectionOpen">
  <ul class="color-list">
    <li
      class="color-item"
      *ngFor="let color of colors; index as i"
      [ngStyle]="getCircleItemStyle(i, colors.length)"
      [style.background-color]="color"
      [class.selected]="color === currentColor"
      (click)="selectColor(color)"
    ></li>
  </ul>

  <ion-icon class="image-upload" name="image-outline" (click)="selectImage(player)"></ion-icon>
<div class="custom-alert" *ngIf="showImageWarning">
  <div class="saved-image-container" *ngIf="savedImageUrl">
    <img [src]="savedImageUrl" alt="Imagen guardada" class="saved-image" />
  </div>

  <p>Ya hay una imagen guardada para este jugador. ¿Qué deseás hacer?</p>

  <div class="btns">
    <button ion-button (click)="useSavedImage()">Usar imagen guardada</button>
    <button ion-button color="primary" (click)="selectNewImage()">Seleccionar nueva</button>
  </div>
</div>
</section>
