.turn-timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    position: relative;

    &__btn{
      background-color: transparent;
      &__icon{
        font-size: 5rem;
        color: #ffffffc2;
      }
    }

  }

  .shadow-txt{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    0 0 8px rgba(0, 0, 0, 0.6);
  }

  .shadow-icon{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.884));
  }

.hurry-up{
  display: inline-block;
  color: #fad852;
  font-weight: bold;
  animation: pulseFontSize 2s ease-in-out infinite;
}

.time-out{
  color: #fff;
  animation: none;
}
.popup-container {
    position: absolute;
    bottom: 131px;
    left: 64px;
    transform: translateX(-50%);
    z-index: 1000;
}

.popup-bubble {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  color: white;
  padding: 0.15rem 0.45rem;
  border-radius: 0.6rem;
  font-size: xx-small;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  max-width: 200px;
  margin: auto;
}

.popup-arrow {
  position: absolute;
  bottom: -8px;
  right: 0.3rem;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.6);
}

.turn-timer {
  position: relative;

  .turn-timer__btn {
    position: relative;
    z-index: 1;
  }

  .hold-progress {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); // centra y rota el círculo
    z-index: 2;

    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
  }

  .progress-bg {
    stroke: rgba(255, 255, 255, 0.2);
  }

  .progress-bar {
    stroke: #d500f9;
    transition: stroke-dashoffset 50ms linear;
  }
}

.activePlayer{
  opacity: 0.4;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}


// ANIMATION

@keyframes pulseFontSize {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
