<main class="turn-timer" (touchstart)="onClick()">
  <div class="popup-container" *ngIf="activePlayer === null">
    <div class="popup-bubble">
      {{"TAP_TO_START" | translate}}
      <div class="popup-arrow"></div>
    </div>
  </div>

  <div
    class="turn-timer__time"
    [ngClass]="{
      'hurry-up': timeLeft() <= 10000,
      'time-out': timeLeft() === 0,
      'shadow-txt':BgImg
    }"
  >
    {{ timeDisplay() }}
  </div>

  <button class="turn-timer__btn">
    <ion-icon name="hourglass-outline" class="turn-timer__btn__icon" [ngClass]="{'shadow-icon':BgImg }"></ion-icon>
  </button>
</main>
