<div class="token-icons">

  <!-- LEFT -->
  <div class="token-icons__column token-icons__column--left">

    @for (icon of leftIcons(); track icon.id; let i = $index) {

      <div
        class="token-icons__item"
        [class.token-icons__item--active-left]="isActive(icon)"
        (click)="toggleIcon(icon)"
      >

        <i
          class="fa-solid"
          [ngClass]="icon.icon"
        ></i>

      </div>

    }

  </div>

  <!-- RIGHT -->
  <div class="token-icons__column token-icons__column--right">

    @for (icon of rightIcons(); track icon.id; let i = $index) {

      <div
        class="token-icons__item"
        [class.token-icons__item--active-right]="isActive(icon)"
        (click)="toggleIcon(icon)"
      >

        <i
          class="fa-solid"
          [ngClass]="icon.icon"
        ></i>

      </div>

    }

  </div>

</div>
