.timer{
    height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
  color: white;

  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.active-timer {
   background-color: #2dc379;
}

.inactive-timer {
  background-color: #e64545;
}

.time-display {
  pointer-events: none;
}
