.language {
  width: 11rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.language label {
  color: #ddd;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.language-select{
  width: 5rem;
  background: #323232;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
