.time-out-alert {
  display: none;
}

.time-out,
.time-out-alert__text{
  display: flex;
}

.time-out {
  height: 50vh;
  width: 100%;
  justify-content: center;
  z-index: 9999;
  animation: fadeInOutEpic 3.5s ease-out forwards;

  &-alert__text {
    align-items: center;
    height: 100%;
    font-size: 2.8rem;
    font-weight: 700;
    color: #cac6b9;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    margin: 0;

   text-shadow:
  0 2px 4px rgba(0, 0, 0, 0.6),
  0 4px 12px rgba(0, 0, 0, 0.4),
  0 0 10px rgba(0, 200, 255, 0.2);

    backdrop-filter: blur(2px);
    padding: 1rem 2rem;
    border: 2px solid rgba(214, 192, 137, 0.2);
    border-radius: 10px;
    background-color: rgba(10, 10, 10, 0.788);
  }
}


// ANIMATIONS
@keyframes fadeInOutEpic {
  0% {
    opacity: 0;
    transform: scale(0.95);
    display: block;
  }

  10% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.05);
    display: none;
  }
}
