.timer-display{
  font-size: x-large;
}
.shadow{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
           0 0 8px rgba(0, 0, 0, 0.795);
}

.time-out{
  color: #1e1e1e;
}

.hurry-up{
  display: inline-block;
  color: #fad852;
  font-weight: bold;
  animation: pulseFontSize 2s ease-in-out infinite;
}


// ANIMATION

@keyframes pulseFontSize {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}
