<section class="menu">
  <div class="vs-menu-container">
    <button class="vs-button" (click)="toggleMenu($event)">VS</button>

    <div class="vs-submenu" [ngClass]="{ 'menu-open': menuOpen }" (click)="$event.stopPropagation()">
      <ul class="submenu-icons">
        <li (click)="resetMatch()"><ion-icon class="icon" name="refresh"></ion-icon></li>
        <li (click)="openTimersConfiguration()"><ion-icon class="icon" name="cog-outline"></ion-icon></li>
        <li (click)="openlifeConfiguration()"><ion-icon class="icon" name="heart-half"></ion-icon></li>
        <li (click)="openGameConfigMode()"><ion-icon class="icon" name="game-controller-outline"></ion-icon></li>
        <li (click)="positionChanged()" class="icon-size"><ion-icon *ngIf="positionRight" name="chevron-back-outline"></ion-icon>
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-icon *ngIf="!positionRight" name="chevron-forward-outline"></ion-icon>
          </li>
        <li>
          <ion-icon
            class="icon"
            name="play-outline"
            *ngIf="!isTimerRunning() && !ischessTimerRunning(); else stop"
            (click)="playPause()"
          ></ion-icon>
        </li>
        <ng-template #stop>
          <li (click)="playPause()">
            <ion-icon class="icon" name="pause"></ion-icon>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</section>
