.menu{
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vs-button {
 position: relative;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    background: linear-gradient(135deg, #ff004a, #4250fe);
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.05em 1.28px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    overflow: hidden;

    &:active{
      transform: scale(0.9);
    }
  }

.vs-button:hover {
  transform: scale(1.05);
}

.vs-submenu {
  position: absolute;
  font-size: xx-large;
  top: -1rem;
  left: 0;
  height: 4rem;
  width: 100%;
  background-color: #302525;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) scale(0.98);
  transition: opacity 300ms ease, transform 300ms ease;
}

.vs-submenu.menu-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0) scale(1);
}

.submenu-icons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.submenu-icons{
  list-style: none;
  padding: 0;
}

