<div class="player-1">
  <round-timer class="player-1__round-timer"/>
  <counter backgroundColor="#ff004a" [hp]="20" class="player-1__counter"/>
  <turn-timer class="player-1__turn-timer"
  #timer1
  [initialTime]="'00:30'"
  (finished)="onTimerFinished(1)"/>
  <timeout class="player-1__time-out"/>
</div>

<div class="player-2">
  <round-timer class="player-2__round-timer" time="00:00:15"/>
  <counter backgroundColor="#4250fe" [hp]="20"/>
  <turn-timer class="player-2__turn-timer"
  #timer2
  [initialTime]="'00:10'"
  (finished)="onTimerFinished(2)"/>
  <timeout class="player-2__time-out"/>
</div>

