<ion-content class="safe-area-padding">
<ion-app class="home-page" *ngIf="configuration as config">
  <!-- PLAYER 1 -->
  <div class="player-1" [ngClass]="{'chest-timer-enabled': configuration.chessTimerConfig.chessTimerEnabled}">
    <section class="matchs" [ngClass]="{'matchs-left': !configuration.positionRight, 'matchs-right': configuration.positionRight}" *ngIf="configuration.threeMatches">
      <div class="matchs-container">
        <span class="match-text" [ngClass]="{'shadow':bgImgP1}">{{ 'MATCHES' | translate }}</span>
        <match-counter class="match-counter" [matchesCount]="matchesCoutn" [BgImg]="bgImgP1" ></match-counter>
        <next-match *ngIf="configuration.threeMatches" (nextMatchEvent)="nextMatch()" [BgImg]="bgImgP1" class="next-match"></next-match>
      </div>
    </section>
    <round-timer #round1 class="player-1__round-timer round-timer-right"  [BgImg]="bgImgP1"
    [ngClass]="{'round-timer-left': configuration.positionRight, 'round-timer-right': !configuration.positionRight}" *ngIf="configuration?.roundTimerEnabled"
    [time]="configuration.roundTimerDuration" />

    <counter #counter1  [background]="backgroundP1"
                        [hp]="configuration.hpValue"
                        [isTurnsTimerActive]="isTurnTimerEnable"
                        [turnsCounter]="fullTurnsCounter"
                        [isSoundEnable]="isSoundEnable"
                        [BgImg]="bgImgP1"
                        [isChessTimerActive]=" configuration.chessTimerConfig.chessTimerEnabled"
                        class="player-1__counter" />
    <turn-timer
      class="player-1__turn-timer"
      [ngClass]="{'turn-timer-left': !configuration.positionRight, 'turn-timer-right': configuration.positionRight}"
      *ngIf="configuration.turnTimerEnabled"
      (validClick)="turnsCount()"
      [playerNumber]="1"
      [BgImg]="bgImgP1"
      #timer1
      />
    <timeout class="player-1__time-out" *ngIf="configuration?.roundTimerEnabled" />

    <chess-timer [playerNumber]="1" #chessTimer1 class="chest-timer" *ngIf="configuration.chessTimerConfig.chessTimerEnabled" (validClick)="turnsCount()"/>
    <start-btn class="start-btn"
      [ngClass]="{'start-btn-left': !configuration.positionRight, 'start-btn-right': configuration.positionRight}"
    *ngIf="configuration.roundTimerEnabled && !configuration.turnTimerEnabled && !roundTimerIsRunning" (click)="stratRoundTimer()"/>
    <player-color-changer   [playerNumber]="1"  [BgImg]="bgImgP1" player="imgplayer1" [position]="!configuration.positionRight"
    (colorChanged)="changePlayerColor($event)" (imgChanged)="imgPlayerChange($event)" class="color-changer"
     [ngClass]="{'color-changer-right': !configuration.positionRight, 'color-changer-left': configuration.positionRight}"/>
  </div>
<!-- END PLAYER 1 -->

  <menu class="menu" (resetTimers)="resetGame()"
  (openTimersWindow)="openCloseTimersWindow()"
  (openLifeWindow)="openCloseLifeWindow()"
  (openCloseGameModeConfigWindow)="openClosegameModeConfigWindow()"
  (positionHasChanged)="changePosition()"
  (playAndPause)="showStartBtn()"
  [positionRight]="configuration.positionRight"></menu>

  <game-modes class="menu-popup"
  *ngIf="openCloseGameModeConfig"
  (closeGameModeConfigWindow)="openClosegameModeConfigWindow()"
  (timersChanged)="resetLoadConfiguration()"
  (openCloseChessMode)="openCloseChessModeWindow()"
/>

  <life-configuration class="menu-popup" (closeLifeConfigWindow)="openCloseLifeWindow()" (lifeChange)="resetLoadConfiguration()" *ngIf="openCloseLifeConfig" />

  <!-- PLAYER 2 -->
  <div class="player-2" [ngClass]="{'chest-timer-enabled': configuration.chessTimerConfig.chessTimerEnabled}">
    <section class="matchs" [ngClass]="{'matchs-left': configuration.positionRight, 'matchs-right': !configuration.positionRight}" *ngIf="configuration.threeMatches">
      <div class="matchs-container">
        <span class="match-text" [ngClass]="{'shadow':bgImgP2}">{{ 'MATCHES' | translate }}</span>
        <match-counter class="match-counter" [matchesCount]="matchesCoutn" [BgImg]="bgImgP2"  />
        <next-match *ngIf="configuration.threeMatches" (nextMatchEvent)="nextMatch()" [BgImg]="bgImgP2" class="next-match" />
      </div>
    </section>
    <round-timer #round2 class="player-2__round-timer round-timer-left"
    [BgImg]="bgImgP2"
    [ngClass]="{'round-timer-left': !configuration.positionRight, 'round-timer-right': configuration.positionRight}"
    *ngIf="configuration?.roundTimerEnabled" />
    <counter #counter2
        [background]="backgroundP2"
        [hp]="configuration.hpValue"
        [turnsCounter]="fullTurnsCounter"
        [isTurnsTimerActive]="isTurnTimerEnable"
        [isSoundEnable]="isSoundEnable"
        [BgImg]="bgImgP2"
        [isChessTimerActive]=" configuration.chessTimerConfig.chessTimerEnabled" />
    <turn-timer
      class="player-2__turn-timer"
      [ngClass]="{'turn-timer-left': configuration.positionRight, 'turn-timer-right': !configuration.positionRight}"
      *ngIf="configuration.turnTimerEnabled"
      (validClick)="turnsCount()"
      [playerNumber]="2"
      [BgImg]="bgImgP2"
      #timer2/>
      <timeout class="player-2__time-out" *ngIf="configuration?.roundTimerEnabled" />
      <chess-timer [playerNumber]="2" #chessTimer2 class="chest-timer" *ngIf="configuration.chessTimerConfig.chessTimerEnabled" (validClick)="turnsCount()"/>

    <start-btn class="start-btn"
      [ngClass]="{'start-btn-right': !configuration.positionRight, 'start-btn-left': configuration.positionRight}"
    *ngIf="configuration.roundTimerEnabled && !configuration.turnTimerEnabled && !roundTimerIsRunning" (click)="stratRoundTimer()"/>
    <player-color-changer [playerNumber]="2" [BgImg]="bgImgP2" player="imgplayer2" [position]="configuration.positionRight"
    (colorChanged)="changePlayerColor($event)" (imgChanged)="imgPlayerChange($event)"
    class="color-changer"
    [ngClass]="{'color-changer-right': configuration.positionRight, 'color-changer-left': !configuration.positionRight}"/>
  </div>
<!-- END PLAYER 2 -->

  <timers-configuration
    (closeConfigWindow)="openCloseTimersWindow()"
    (isConfigChange)="isTimerConfigChange()"
    (resetConfigChange)="resetConfiguraion()"
    *ngIf="openCloseTimersConfig"
    class="windows-configuration" />

  <chess-timer-mode
  *ngIf="openCloseChessMode"
   class="windows-configuration"
  (closeChessModeWindow)="openCloseChessModeWindow()"
  (chessConfigChanged)="resetLoadConfiguration()"
   />
</ion-app>
</ion-content>
