.player-1__turn-timer,
.player-1__round-timer,
.player-2__turn-timer,
.player-2__round-timer{
  position: fixed;
}

.menu,
.chest-timer{
  width: 100%;
}

.player-1__round-timer,
.player-2__round-timer{
  left: 0.6rem;
  padding-top: 1rem;
  z-index: 1;
}
.player-1__turn-timer,
.player-2__turn-timer{
  bottom: 0.5rem;
  right: 0;
}

.player-1,
.player-2{
  position: relative;
}

#container,
.player-1__time-out,
.player-2__time-out,
.match-counter,
.next-match,
.match-text,
.windows-configuration{
  position: absolute;
}

.player-1__time-out,
.player-2__time-out,
.windows-configuration{
  top: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.windows-configuration,
.life-config{
  width: 100%;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.2rem;
  position: fixed;
  z-index: 1000;
}

#container {
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.player-1{
    transform: rotate(180deg);
}

.match-counter{
  right: 0.5rem;
  top: 1.3rem;
}

.next-match{
    right: 0.5rem;
    top: 2.5rem
}

.match-text{
  color: #ffffffcc;
  right: 0.4rem;
  top: 1.3rem;
  font-size: smaller;
  font-weight: lighter;
}


.windows-configuration{
  height: 100vh;
  width: 100%;
  z-index: 9999;
}

.life-config{
  position: absolute;
  top: calc(50% - 7rem);
  background-color: #302525;
  opacity: 0;
}

.component-visibility {
  opacity: 1;
}

.chest-timer-enabled{
  height:37vh;
}

.start-btn{
  position: absolute;
  bottom: 3rem;
  left: 0.7rem;
}

.color-changer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
